<div ng-controller="pxTypeAheadCtrl as ctrl">
    <script type="text/ng-template" id="pxtypeahead.html">
    <link ng-href="{{DECISYON.template.mainLibraryPath}}/vendor/px-typeahead/px-typeahead.html" rel="import"   dcy-on-load load-handler="ctrl.setPredixTypeAheadLibraryLoaded();">
    <px-typeahead id="{{ctrl.widgetID}}" 
        
        max-suggestions="10" 
        placeholder="{{ctrl.placeholder}}" 
        local-candidates="{{ctrl.typeAheadJsonData}}">
    </px-typeahead>
    </script>    
    <script type="text/ng-template" id="error.html">
        <h3>{{ctrl.errorMsg}}</h3>
    </script>
    
    <div ng-include src="ctrl.currentTpl"></div>    
</div>
    
